
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

 /* div {
  border: 1px solid red;
}

h1 {
  border: 1px solid red;
}

h2 {
  border: 1px solid red;
}

a {
  border: 1px solid red;
}

header {
  border: 1px solid red;
}

section {
  border: 1px solid red;
}

img {
  border: 1px solid red;
}

footer {
  border: 1px solid red;
}

iframe {
  border: 1px solid red;
} */
